@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(20 66% 98%);
    --foreground: hsl(20 51% 4%);
    --muted: hsl(20 25% 86%);
    --muted-foreground: hsl(20 7% 25%);
    --popover: hsl(20 66% 98%);
    --popover-foreground: hsl(20 51% 3%);
    --card: hsl(20 66% 99%);
    --card-foreground: hsl(20 51% 3%);
    --border: hsl(20 15% 94%);
    --input: hsl(20 15% 94%);
    --primary: hsl(20 48% 72%);
    --primary-foreground: hsl(20 48% 12%);
    --secondary: hsl(20 12% 92%);
    --secondary-foreground: hsl(20 12% 32%);
    --accent: hsl(20 12% 92%);
    --accent-foreground: hsl(20 12% 32%);
    --destructive: hsl(11 80% 22%);
    --destructive-foreground: hsl(11 80% 82%);
    --ring: hsl(20 48% 72%);
    --radius: 0.5rem;
  }

  .dark {
    --background: rgb(28, 28, 33);
    --foreground: hsl(253 31% 98%);
    --muted: hsl(253 7% 13%);
    --muted-foreground: hsl(253 13% 63%);
    --popover: hsl(253 43% 3%);
    --popover-foreground: hsl(253 31% 98%);
    --card: #2C2C35;
    --card-foreground: hsl(253 31% 99%);
    --border: hsl(215 27.9% 16.9%);
    --input: hsl(215 27.9% 16.9%);
    --primary: hsl(253 91% 58%);
    --primary-foreground: hsl(253 91% 98%);
    --secondary: hsl(253 7% 9%);
    --secondary-foreground: hsl(253 7% 69%);
    --accent: hsl(253 13% 14%);
    --accent-foreground: hsl(253 13% 74%);
    --destructive: hsl(339.2 90.36% 51.18%);
    --destructive-foreground: hsl(0 0% 100%);
    --ring: hsl(253 91% 58%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply box-border bg-background text-foreground;
  }
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}
